@*
    For more information on enabling MVC for empty projects, visit https://go.microsoft.com/fwlink/?LinkID=397860
*@
@model Bikepark.Models.Record

@using Bikepark.Models
@using Microsoft.EntityFrameworkCore
@using Bikepark.Views.Helpers
@{
    ItemRecord someItemRecord = new ItemRecord();
    List<DateOnly> Holidays = ViewBag.Holidays;
    DbSet<Pricing> Pricings = ViewBag.Pricings;
}

<table class="tablealign">
    <thead>
        <tr>
            <th style="width : 150px;">
                <div class="row-sm">Управление</div>
            </th>
            <th style="width : 10%">
                <div class="row-sm">@Html.DisplayNameFor(m => someItemRecord.Item.ItemNumber)</div>
            </th >
            <th >
                <div class="row-sm">@Html.DisplayNameFor(m => someItemRecord.Item.ItemType)</div>
            </th>
            <th  >
                <div class="row-sm">@Html.DisplayNameFor(m => someItemRecord.Pricing.PricingName)</div>
            </th>
            <th >
                <div class="row-sm"></div>
            </th>
            <th  style="width : 10%">
                <div class="row-sm">Время</div>
            </th>
            <th  style="width : 10%">
                <div class="row-sm"></div>
            </th>
        </tr>
    </thead>
    <tbody id="itemrecords-list">
        @foreach (var itemRecord in Model.ItemRecords)
        {
            var isHoliday = Holidays.Any(day => day == DateOnly.FromDateTime(itemRecord.Start ?? DateTime.Now));
            List<Pricing> actualprices = await PricingFilter.ActualPricing(Pricings, itemRecord.Item.ItemType.PricingCategoryID, itemRecord.Start ?? DateTime.Now, itemRecord.End ?? (itemRecord.Start ?? DateTime.Now).AddHours(1), isHoliday);
            ViewData["ActualPrices"] = actualprices;
            <partial name="_ItemRecordRow_rental" model = "@itemRecord" />  
        }
    </tbody>
</table>
                                

