@* @model Bikepark.Models.Record *@
@model Bikepark.Models.ViewModels.RecordViewModel

@using Bikepark.Models
@using Microsoft.EntityFrameworkCore

@{
    ItemRecord someItemRecord = new ItemRecord();
}

<table>
    <thead>
        <tr>
            <th style="width : 150px;">
                <div class="row-sm">Management</div>
            </th>
            <th style="width : 10%">
                <div class="row-sm">@Html.DisplayNameFor(m => someItemRecord.Item!.ItemNumber)</div>
            </th >
            <th >
                <div class="row-sm">@Html.DisplayNameFor(m => someItemRecord.Item!.ItemType)</div>
            </th>
            <th  >
                <div class="row-sm">@Html.DisplayNameFor(m => someItemRecord.Pricing!.PricingName)</div>
            </th>
            <th >
                <div class="row-sm"></div>
            </th>
            <th  style="width : 10%">
                <div class="row-sm">Time</div>
            </th>
            <th  style="width : 10%">
                <div class="row-sm"></div>
            </th>
        </tr>
    </thead>
    <tbody id="itemrecords-list">
        @{
            foreach (var itemRecord in  Model.ItemRecords.ToList())
            {
                <partial name="_ItemRecordRow_rental" model = "@itemRecord" />  
            }
        }
    </tbody>
</table>
                                

