@*
    For more information on enabling MVC for empty projects, visit https://go.microsoft.com/fwlink/?LinkID=397860
*@
@model Bikepark.Models.Record

@using Bikepark.Models
@using Microsoft.EntityFrameworkCore
@using Bikepark.Views.Helpers
@{
    DbSet<Item> Items = ViewBag.Items;
    List<ItemType> Types = ViewBag.Types;
    DbSet<Record> Rents = ViewBag.Rents;
    DbSet<ItemRecord> RentedItems = ViewBag.RentedItems;
    ItemRecord someItemRecord = new ItemRecord();
}

<table class="tablealign">
    <thead>
        <tr>
            <th style="width : 20%">
                <div class="row-sm">Управление</div>
            </th>
            <th style="width : 20%">
                <div class="row-sm">@Html.DisplayNameFor(m => someItemRecord.Item.ItemType)</div>
            </th>
            <th style="width : 10%">
                <div class="row-sm">@Html.DisplayNameFor(m => someItemRecord.Item.ItemNumber)</div>
            </th >
            <th  style="width : 20%">
                <div class="row-sm">@Html.DisplayNameFor(m => someItemRecord.Pricing.PricingName)</div>
            </th>
            <th style="width : 10%">
                <div class="row-sm">Сумма</div>
            </th>
            <th style="width : 20%">
                <div class="row-sm">Время</div>
            </th>
        </tr>
    </thead>
    <tbody id="rental-items-list">
        @foreach (var itemRecord in Model.ItemRecords)
        {
            <partial name="_ItemRecordRow" model = "@itemRecord" />  
        }
    </tbody>
    <tbody>
        <tr>
            <td>    
                <div class="d-flex flex-row">
                    <button type="button" class="btn btn-success" id="btn-show-items-chooser">
                        <i class="bi bi-plus-lg"></i>
                    </button>                 
                </div>  
            </td>
        </tr>
    </tbody>
</table>
                                

