@model IEnumerable<Bikepark.Models.Record>

@{
    Layout = "_MainLayout";
    ViewData["Title"] = "Журнал проката";
    ViewData["menu"] = "log-active";
    ViewData["Status"] = "Active";
}


<h1>Сейчас в прокате</h1>

<p>
    <a asp-action="Create">Новый прокат</a>
</p>


<partial name="_Log"  /> 
