@model IEnumerable<Bikepark.Models.Record>

@{
    Layout = "_MainLayout";
    ViewData["Title"] = "Журнал проката";
    ViewData["menu"] = "log";
}


<h1>Журнал</h1>
<div class="d-flex flex-wrap justify-content-between align-items-center border-bottom">
    <ul class="nav col-md-6 justify-content-start">
        <li class="nav-item">
            <a class="nav-link" asp-action="Create">Новый прокат</a>
        </li>  
    </ul>
    <ul class="nav  col-md-6 justify-content-end">   
        <li class="nav-item">
            <a class="nav-link" asp-action="RentalIndexAll">Журнал по номерам</a>
        </li>    
    </ul>  
</div>
<partial name="_Log"  /> 


@section Scripts {          
    <link href="~/css/rent-main.css" rel="stylesheet" asp-append-version="true" /> 
}
