@model IEnumerable<Bikepark.Models.Record>

@{
    Layout = "_MainLayout";
    ViewData["Title"] = "Брони";
    ViewData["menu"] = "log-scheduled";
    ViewData["Status"] = "Sheduled";
}


<h1>Брони</h1>
<div class="d-flex flex-wrap justify-content-between align-items-center border-bottom">
    <ul class="nav col-md-6 justify-content-start">
        <li class="nav-item">
            <a class="nav-link" asp-action="Create">Новый прокат</a>
        </li>  
    </ul>
    <ul class="nav  col-md-6 justify-content-end">
        <li class="nav-item"> 
            <a class="nav-link" asp-action="Index">Журнал</a> 
        </li> 
    </ul>  
</div>
<partial name="_Log"  /> 
