@model IEnumerable<Bikepark.Models.Record>

@{
    Layout = "_MainLayout";
    ViewData["Title"] = "Журнал проката";
    ViewData["menu"] = "log";
}


<h1>Журнал</h1>

<p>
    <a asp-action="Create">Новый прокат</a>
</p>


<partial name="_Log"  /> 
