@{
}
<div >
<h1>Receptionist's Controls</h1>
    <ul class="list-group">
      <li class="list-group-item"><a class="nav-link" asp-area="" asp-controller="Rental" asp-action="Prepare">Storage & Preparation</a></li>
      <li class="list-group-item"><a class="nav-link" asp-area="" asp-controller="Rental" asp-action="Pricings">Billing Plans</a></li>
      @*<li class="list-group-item"><a class="nav-link" asp-area="" asp-controller="Rental" asp-action="Settings">Settings</a></li>*@
    </ul>

</div>
