@{
}
<div >
<h1>Управление администратора</h1>
    <ul class="list-group">
      <li class="list-group-item"><a class="nav-link" asp-area="" asp-controller="Rental" asp-action="Prepare">Подготовка</a></li>
      <li class="list-group-item"><a class="nav-link" asp-area="" asp-controller="Rental" asp-action="Pricings">Тарифы</a></li>
      @*<li class="list-group-item"><a class="nav-link" asp-area="" asp-controller="Rental" asp-action="Settings">Настройки</a></li>*@
    </ul>

</div>
