@model IEnumerable<Bikepark.Models.Item>

@{
    Layout = "_MainLayout";
    ViewData["Title"] = "Подготовленные велосипеды";
}

<h1>Склад и подготовленные велосипеды</h1>
<form asp-controller="Rental">
    <div class="d-flex flex-wrap justify-content-between align-items-center border-bottom">
        <ul class="nav col-md-6 justify-content-start">
            <li class="nav-item">
                <button type="submit" asp-action="PrepareUpdate" class="btn btn-link col-12 text-decoration-none" id="btn-prepare" novalidate="novalidate">
                    Сохранить
                </button>
            </li>
            <li class="nav-item">
                <button type="button" class="btn btn-link col-12 text-decoration-none" id="btn-clear" >
                    Очистить список
                </button>
            </li>
        </ul>
        <ul class="nav  col-md-6 justify-content-end">   
            <li class="nav-item"> 
                <a class="nav-link" asp-action="Main" >Управление</a> 
            </li>    
        </ul>  
    </div>

    <div class="row-cols-1" id="storage">
        <partial name="_Storage" />
    </div>
    <div class="accordion" id="prepared">
        <div class="accordion-item">
            <h2 class="accordion-header" id="prepared-title">
                <button class="accordion-button" type="button" data-bs-toggle="collapse" data-bs-target="#prepared-list" aria-expanded="true" aria-controls="prepared-list">
                    <span class="px-1"><b>Подготовленные велосипеды</b></span>
                </button>
            </h2>
            <div id="prepared-list" class="accordion-collapse collapse" aria-labelledby="prepared-title" data-bs-parent="#prepared">
                <div class="accordion-body">
                    <partial name="_ItemsList" model="@Model" />
                </div>
            </div>
        </div>
    </div>
</form>

@section Scripts {          
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
    <script src="~/js/rent-prepare.js"></script>   
    <link href="~/css/rent-main.css" rel="stylesheet" asp-append-version="true" /> 
    
    <script>   
        var url_rental_addprepareditem = "@Url.Action("AddPreparedItemRecord", "rental")";        
    </script>   
}