@model IEnumerable<Bikepark.Models.ItemRecord>

@{
    Layout = "_MainLayout";
    ViewData["Title"] = "Журнал проката";
    ViewData["menu"] = "log";
}

<h1>Обслуживание и ремонт</h1>

<partial name="_ItemRecordsLog"  /> 
