@model Bikepark.Models.ItemCategory

@{
    ViewData["Title"] = "Создать категорию арендуемых единиц";
    ViewData["menu"] = "storage";
    Layout = "_MainLayout";
}

<h3>Создать</h3>

<h4>Категория арендуемых единиц</h4>
<hr />
<div class="row">
    <div class="col-md-4">
        <form asp-action="Create">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <div class="form-group">
                <label asp-for="ItemCategoryName" class="control-label"></label>
                <input asp-for="ItemCategoryName" class="form-control" autocomplete="nope"/>
                <span asp-validation-for="ItemCategoryName" class="text-danger"></span>
            </div>
            <div class="form-group">              
                <label class="form-check-label">
                    <input class="form-check-input" asp-for="Accessories" /> @Html.DisplayNameFor(model => model.Accessories)
                </label>
            </div>
            <div class="form-group">
                <input type="submit" value="Создать" class="btn btn-primary" />
            </div>
        </form>
    </div>
</div>

<div>
    <a asp-action="Index" class="btn btn-secondary">Отмена</a>
</div>

@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}
