@model IEnumerable<DayOfWeek>
@{
    var num = 0;
}

<div class="btn-group">
    @foreach (var day in Enum.GetValues(typeof(DayOfWeek)).Cast<DayOfWeek>())
    {
            var val = DayOfWeekRu.ForDay(day);
            var check = Model.Contains(day);
            var name = check ? "DaysOfWeek["+num+"]" : null;
            if (check){
                <input type="hidden" name="DaysOfWeek.index" autocomplete="nope" value="@num" class="idx-dayofweek"/>
            }
            num += check ? 1 : 0;
        <input id="day-@day"  class="btn-check chk-dayofweek"  name="@name" value="@day" type="checkbox" checked="@check"/>
        <label for="day-@day" class ="btn btn-check-label btn-outline-primary"> @val </label>
    }
</div>
