@*
    For more information on enabling MVC for empty projects, visit https://go.microsoft.com/fwlink/?LinkID=397860
*@
@{
    Layout = "_MainLayout";
    ViewData["Title"] = "Управление";
}

    <header>
        <nav class="navbar navbar-expand-sm navbar-toggleable-sm navbar-light bg-white border-bottom box-shadow mb-3" id="navbar-manage">
            <div class="container-fluid">
                <a class="navbar-brand" asp-area="" asp-controller="Manage" asp-action="Index">Управление</a>
                <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target=".navbar-collapse" aria-controls="navbarSupportedContent"
                        aria-expanded="false" aria-label="Toggle navigation">
                    <span class="navbar-toggler-icon"></span>
                </button>
                <div class="navbar-collapse collapse d-sm-inline-flex justify-content-between">
                    <ul class="navbar-nav flex-grow-1">
                        <li class="nav-item">
                            @if ( User.Identity.IsAuthenticated ){
                                if ( User.IsInRole(Constants.ManagersRole) ){      
                                    <a class="nav-link" asp-area="" asp-controller="Manage" asp-action="Storage" id="manage-link-storage">Склад</a>                 
                                }
                            }
                        </li>
                        <li class="nav-item">
                            @if ( User.Identity.IsAuthenticated ){
                                if ( User.IsInRole(Constants.ManagersRole) ){     
                                    <a class="nav-link" asp-area="" asp-controller="Manage" asp-action="Pricing"  id="manage-link-pricing">Тарифы</a>                  
                                }
                            }
                        </li>
                    </ul>
                </div>
            </div>
        </nav>
    </header>
    
    <div class="container">
        <main role="main" class="pb-3">
            @RenderBody()
        </main>
    </div>

    @await RenderSectionAsync("Scripts", required: false)

    
@section Scripts {
    
    <script src="~/lib/jquery/dist/jquery.min.js"></script>
    <script>
        $(document).ready(function(){
           $("#navbar-main .active").removeClass("active");
           $("#main-link-storage").addClass("active");
        });
    
    </script>
}