@model IEnumerable<Bikepark.Models.ItemRecord>

@{
    Layout = "_MainLayout";
    ViewData["Title"] = "Журнал проката";
    ViewData["menu"] = "log";
    ViewData["filter"] = "Actual";
    var Number = ViewBag.Number;
    var Error = ViewBag.Error;
}

<h1>Обслуживание и ремонт</h1>
<div class="d-flex flex-wrap justify-content-between align-items-center border-bottom">
    <ul class="nav col-md-6 justify-content-start">  
        <li class="nav-item">
            <a class="nav-link" asp-action="NumberOnService">Назначить ремонт</a>
        </li>     
    </ul>
    <ul class="nav  col-md-6 justify-content-end"> 
        <li class="nav-item">
            <a class="nav-link" asp-action="Export" style="display: none">Загрузить таблицу XLS</a>
        </li>    
        <li class="nav-item">
            <a class="nav-link" asp-action="Index">Все записи</a>
        </li>    
    </ul>  
</div>

<partial name="_LogItemRecords"  /> 

@section Scripts {          
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
    <script src="~/js/items.js"></script> 
    <link href="~/css/rent-main.css" rel="stylesheet" asp-append-version="true" /> 
    <script>
        var error = @Html.Raw(Newtonsoft.Json.JsonConvert.SerializeObject(Error));  
    </script>
}