@model Bikepark.Models.Item

@{
    ViewData["Title"] = "Edit Item";
    ViewData["menu"] = "items";
    Layout = "_MainLayout";    
    var Error = ViewBag.Error;
    var hasRecords = ViewBag.HasRecords;
    string archival = Model.Archival ? "(archival)" : "";
}
<div class="col-md-6">  
@if (Model.ItemID != null)
{
    <h3>Edit Item</h3>
    <h4>Item Number #@Model.ItemNumber @archival</h4>
}
else
{
    <h3>Add Item</h3>
    <h4>Item with New Number</h4>    
}
</div>
<hr />
<div class="container-sm">  
    <form id="item-form" asp-controller="Items" >
        <div class="row">
            <div class="col-md-4">
                <div asp-validation-summary="ModelOnly" class="text-danger"></div>
                <input type="hidden" asp-for="ItemID" />
                <input type="hidden" asp-for="Archival" />
                <div class="form-group">
                    <label asp-for="ItemTypeID" class="control-label"></label>
                    <select asp-for="ItemTypeID" class="form-control" asp-items="ViewBag.ItemTypeID" required></select>
                    <span asp-validation-for="ItemTypeID" class="text-danger"></span>
                </div>
                <div class="form-group">
                    <label asp-for="ItemNumber" class="control-label"></label>
                    <input asp-for="ItemNumber" class="form-control" required/>
                    <span asp-validation-for="ItemNumber" class="text-danger"></span>
                </div>
            </div>
        </div>

        <div class="flex-row justify-content-start">
            <div class="row row-cols-4 col-md-8 ">
                <div class="form-group col-md-2 ">  
                    <a asp-action="Index" class="btn btn-secondary col-md-12">Cancel</a>
                </div>
                @if (Model.ItemTypeID != null)
                {
                    <div class="form-group col-md-2 ">
                        <button type="submit" asp-action="Edit" class="btn btn-dark col-md-12">Change</button>
                    </div>
                    @if (hasRecords)
                    {
                        <div class="form-group col-md-2 ">
                            <button type="submit"  asp-action="Replace" class="btn btn-primary col-md-12"  title="Replace, The old Number will be archived.">Replace</button>
                        </div>
                    }
                    else
                    {
                        <div class="col-md-2 ">
                        </div>                        
                    }
                }
                else
                {
                    <div class="form-group col-md-2 ">
                        <button type="submit"  asp-action="Create" class="btn btn-primary col-md-12">Create</button>
                    </div>
                    <div class="col-md-2 ">
                    </div>
                }
            </div>
        </div>
    </form>
</div>
<div class="col-md-6">  
@if (Model.ItemID != null)
{
    @if (hasRecords)
    { 
        <h5 style="display:inline">The log contains records regarding the rental of Items of this Item.</h5>  
        <p><a target="_blank" rel="noopener noreferrer" href="/Log/OfItem/?id=@Model.ItemID">View all in a new tab?</a></p>
        <p>If you CHANGE it, this affect all existing log Records.</p>
        <p>If you REPLACE it, this Number will be archived (and will appear in the existing log Records of its old Type), and a new one will be created.</p>
    } 
}
</div>

@section Scripts {          
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
    <script src="~/js/items.js"></script> 
    <script>
        var error = @Html.Raw(Newtonsoft.Json.JsonConvert.SerializeObject(Error));  
    </script>
}