@model UploadFile

@{
    Layout = "_MainLayout";
    ViewData["Title"] = "Форма договора";
}

<h3>Форма договора</h3>

<div class="d-flex flex-wrap justify-content-between align-items-center border-bottom">
    
    <ul class="nav  col-sm-6 justify-content-start">  
    </ul>  
    <ul class="nav  col-sm-6 justify-content-end">  
        <li class="nav-item"> 
            <a class="nav-link" asp-controller="Storage" asp-action="Main" >Управление</a> 
        </li>    
    </ul>  

</div>
<div class="container-sm">
    <hr />    
    <div class="form-group mt-3">
        <a asp-action="ContractDownload" class="btn btn-secondary col-md-6">Скачать текущую форму</a>
    </div>
    <form asp-action="ContractUpload" enctype = "multipart/form-data">
        <div class="form-group mt-3">
            <input type="submit" class="btn btn-primary col-md-6" value="Загрузить новую форму"/>
        </div>
        <div class="form-group mt-3 col-md-6">
            <input asp-for="File" class="form-control" >
            <span asp-validation-for="File" class="text-danger"></span>
        </div>
    </form>
    
    <div class="mt-3 col-md-6">
        @if (Model.IsResponse)
        {
            if (Model.IsSuccess)
            {
                if (Model.HasWarnings)
                {
                    <div class="alert alert-warning">
                        @Model.Message
                    </div>
                }
                else
                {
                    <div class="alert alert-success">
                        @Model.Message
                    </div>
                }
            }
            else
            {
                <div class="alert alert-danger">
                    @Model.Message
                </div>
            }
        }    
    </div>
</div>

@section Scripts {          
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}