@{
}
<div >
<h1>Management</h1>
    <ul class="list-group">
      <li class="list-group-item"><a class="nav-link" asp-area="" asp-controller="Administrators" asp-action="Index">Receptionists</a> </li>
      <li class="list-group-item"><a class="nav-link" asp-area="" asp-controller="Storage" asp-action="Index">Storage</a></li>
      <li class="list-group-item"><a class="nav-link" asp-area="" asp-controller="Pricings" asp-action="Index">Billing Plans</a></li>
      <li class="list-group-item"><a class="nav-link" asp-area="" asp-controller="Storage" asp-action="Contract">Agreement Form</a></li>
      <li class="list-group-item"><a class="nav-link" asp-area="" asp-controller="Storage" asp-action="Settings">Settings</a></li>
    </ul>

</div>
