@{
}
<div >
<h1>Управление</h1>
    <ul class="list-group">
      <li class="list-group-item"><a class="nav-link" asp-area="" asp-controller="Administrators" asp-action="Index">Администраторы</a> </li>
      <li class="list-group-item"><a class="nav-link" asp-area="" asp-controller="Storage" asp-action="Index">Склад</a></li>
      <li class="list-group-item"><a class="nav-link" asp-area="" asp-controller="Pricings" asp-action="Index">Тарифы</a></li>
      <li class="list-group-item"><a class="nav-link" asp-area="" asp-controller="Storage" asp-action="Contract">Форма договора</a></li>
      <li class="list-group-item"><a class="nav-link" asp-area="" asp-controller="Storage" asp-action="Settings">Настройки</a></li>
    </ul>

</div>
