@using Microsoft.AspNetCore.Identity
@model IEnumerable<UserRole>

@{
    ViewData["Title"] = "Единицы";
    ViewData["menu"] = "items";
    Layout = "_MainLayout";
}

<h3>Учетные записи администраторов велопарка</h3>
<div class="d-flex flex-wrap justify-content-between align-items-center border-bottom">
    
    <ul class="nav  col-sm-6 justify-content-start">  
    </ul>  
    <ul class="nav  col-sm-6 justify-content-end">  
        <li class="nav-item"> 
            <a class="nav-link" asp-controller="Storage" asp-action="Main" >Управление</a> 
        </li>    
    </ul>  

</div>

<table class="table">
    <thead>
        <tr>
            <th>
                Пользователь
            </th>
            <th>
                Роль
            </th>
            <th>
            </th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.User.NormalizedUserName)
            </td>
            <td>
                @if (  item.IsAdmin ){   
                    <i>Администратор</i>
                }
            </td>
            <td>
                <a asp-action="Delete" asp-route-id="@item.User.Id">Удалить</a> |
                @if ( item.IsAdmin ){  
                        <a asp-action="WithdrawAdminRole" asp-route-id="@item.User.Id">Снять</a>                       
                    }
                    else
                    {                  
                        <a asp-action="AssignAdminRole" asp-route-id="@item.User.Id">Назначить администратором</a>    
                    }
            </td>
        </tr>
}
    </tbody>
</table>
