@model DaysOfWeekFlags
@{}

<div class="btn-group">
    @* foreach (var day in Enum.GetValues(typeof(DayOfWeek)).Cast<DayOfWeek>()) *@
    @foreach (DaysOfWeekFlags day in Enum.GetValues(typeof(DaysOfWeekFlags)))
    {
        if (day == DaysOfWeekFlags.None || day == DaysOfWeekFlags.Weekdays || 
            day == DaysOfWeekFlags.Weekend || day == DaysOfWeekFlags.AllDays || 
            day == DaysOfWeekFlags.LongWeekend || day == DaysOfWeekFlags.WeekdayShort)
            continue;
            
        var val = DayOfWeekLiterals.GetDaysString(day);
        var style = (Model.HasFlag(day))?"alert-success":"alert-light";
        <label class ="btn btn-sm @style" > @val </label>
    }
</div>
