@using Bikepark.Authorization
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Велопарк: @ViewData["Title"]</title>
    <link rel="stylesheet" href="~/lib/bootstrap/dist/css/bootstrap.min.css" />
    <link rel="stylesheet" href="~/css/site.css" asp-append-version="true" />
    <link rel="stylesheet" href="~/lib/bootstrap-icons/bootstrap-icons.css">
    
    @*<link rel="stylesheet" href="~/Bikepark.styles.css" asp-append-version="true" />*@

</head>
<body>
    <header>
        <nav class="navbar navbar-expand-sm navbar-toggleable-sm navbar-light bg-white border-bottom box-shadow mb-3" id="navbar-main">
            <div class="container-fluid">                
                <a class="navbar-brand" href="#">Велопарк</a>
                <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target=".navbar-collapse" aria-controls="navbarSupportedContent"
                        aria-expanded="false" aria-label="Toggle navigation">
                    <span class="navbar-toggler-icon"></span>
                </button>
                <div class="navbar-collapse collapse d-sm-inline-flex justify-content-left">
                    <ul class="navbar-nav">       
                        @if ( User.Identity.IsAuthenticated ){
                            if ( User.IsInRole(Constants.ManagersRole) ){  
                                <li class="nav-item" id="link-manage-storage">      
                                    <a class="nav-link" asp-area="" asp-controller="Manage" asp-action="Storage">Склад</a>        
                                </li>
                                <li class="nav-item" id="link-manage-pricing">
                                    <a class="nav-link" asp-area="" asp-controller="Manage" asp-action="Pricing" >Тарифы</a>    
                                </li>                            
                            }
                            <li class="nav-item" id="link-rental-create">    
                                <a class="nav-link" asp-area="" asp-controller="Rental" asp-action="Create">Выдать</a>    
                            </li>
                            <li class="nav-item" id="link-rental-log">     
                                <a class="nav-link" asp-area="" asp-controller="Rental" asp-action="Index">Журнал</a>         
                            </li>
                            <li class="nav-item" id="link-rental-active">
                                <a class="nav-link" asp-area="" asp-controller="Rental" asp-action="Active">Текущие</a>     
                            </li> 
                        }  
                    </ul>     
                    <ul class="navbar-nav ms-auto">     
                        <partial name="_LoginPartial" />    
                    </ul>
                </div>
            </div>
        </nav>
    </header>
    
    <div class="container-fluid">
        <main role="main" class="pb-3">
            @RenderBody()
        </main>
    </div>

    <footer class="border-top footer text-muted">
        <div class="container">
            &copy; 2022 - Bike Park - <a asp-area="" asp-controller="Home" asp-action="Privacy">Privacy</a>
        </div>
    </footer>

    <script src="~/lib/jquery/dist/jquery.min.js"></script>
    <script src="~/lib/bootstrap/dist/js/bootstrap.bundle.min.js"></script>
    @await RenderSectionAsync("Scripts", required: false)
</body>

</html>

<style>
    
    .nav-item.active  {
       background-color:lightgray
    }

</style>