@model Bikepark.Models.PricingCategory

@{
    ViewData["Title"] = "Удалить категорию тарифов";
    ViewData["menu"] = "pricing-categories";
    Layout = "_MainLayout";
    int typesCount = ViewBag.ItemTypesCount;
    int pricingsCount = ViewBag.PricingsCount;
}

<h3>Удалить</h3>

<h4>Вы дейсвительно хотите удалить категорию тарифов?</h4>
<div>
    @if(typesCount==0 && pricingsCount==0 ){
        <h5>В категории ничего нет</h5>
    }
    else
    {
        if (typesCount > 0)
        {
            <h4 style="display:inline">Число моделей (велосипедов/амуниции) тарифицируемых по этой категории:</h4>  
            <h3 style="display:inline">@typesCount</h3>
            <p><a target="_blank" rel="noopener noreferrer" href="/Storage/WithPricingCategory/?id=@Model.PricingCategoryID">Просмотреть в новой вкладке?</a></p>
            <p>Если удалить категорию тарификации, велосипеды этих моделей можно будет выдать в прокат с любым тарифом</p>        
            <hr />
        }
        if (pricingsCount > 0)
        {
            <h4 style="display:inline">Число тарифов в этой категории:</h4>  
            <h3 style="display:inline">@pricingsCount</h3>
            <p><a target="_blank" rel="noopener noreferrer" href="/Pricings/InCategory/?id=@Model.PricingCategoryID">Просмотреть в новой вкладке?</a></p>
            <p>Если удалить категорию тарификации, эти тарифы можно будет назначать при выдаче любого велосипеда или амуниции </p>
        }
    }
    <hr />
    <dl class="row">
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.PricingCategoryName)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.PricingCategoryName)
        </dd>
    </dl>
    
    <form asp-action="Delete">
        <input type="hidden" asp-for="PricingCategoryID" />
        <input type="submit" value="Удалить" class="btn btn-danger" />
        <a asp-action="Index">Отмена</a>
    </form>
</div>
